.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.menu-banner {
  padding: 0px;
  max-width: 1000px;
  background: url(img/menubar.png) no-repeat center center;
  background-size: cover;
}

@media only screen and (max-width: 990px) {
  .menu-banner {
    padding: 0px;
    width: 100%;
    background: url(img/menubar.png) no-repeat center center;
    border: 2px solid lawngreen;
  }
}
@media (hover: none) and (pointer: coarse) {
  .menu-banner {
    padding: 0px;
    width: 100%;
    background: url(img/menubar.png) no-repeat center center;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  font-size: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
